.modalWrapper {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.7);
    z-index:100;
    
}

.secondModal {
    width: 517px;
    height: 254px;
    background-color: rgb(60, 134, 231);
    top: 0;
    left: 0;
    border-radius: 5px;
    white-space: pre-line;
    transition: 0.9s;

  
}
.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 15px;
}

.modal_content {
    text-align: center;
    color: #FFFFFF;
}
.modal_content p {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 30px;
}
.iconClose {
    justify-content: right;
    cursor: pointer;


}
.confCancelButton {
    color: #FFFFFF;
    padding: 10px 30px;
    margin: 4px;
    border: none;
    border-radius: 3px;
}
